:root {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-size: 1.4rem;
}

ul {
  padding-left: 0;
}

header {
  margin-right: calc( var(--bs-gutter-x) * -1 );
  margin-left: calc( var(--bs-gutter-x) * -1 );
}

/* nav */
.navbar-nav {
  position: relative;
  display: flex;
  margin: 0;
  list-style: none;
}

.nav-item {
  
}