:root {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  --sf-header-h: 70px;
}

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

html {
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 10px;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-size: 1.4rem;
}

ul {
  padding-left: 0;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-right: var(--bs-gutter-x);
  padding-left: var(--bs-gutter-x);
  width: 100%;
  height: var(--sf-header-h);
  background: #e6e6e6;
}

/* nav */
.navbar, 
.navbar-nav {
  height: inherit;
}

.navbar-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  list-style: none;
}

.nav-item {
  
}

.main-wrapper {
  padding-top: var(--sf-header-h);
  height: 100%;
}

.sidebar, 
.content {
  padding: 1.5rem;
  height: 100%;
}

.sidebar {
  position: fixed;
  margin-left: calc( var(--bs-gutter-x) * -1 );
  width: inherit;
  background-color: yellow;
}

/* test */
.test-entry {
  height: 5000px;
  background: blue;
}